/* Estilos para el cambio de tema claro/oscuro */
body {
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 60px;
}

.theme-toggle-container i {
    font-size: 20px;
    position: absolute;
}

.theme-toggle-container .fa-sun {
    left: 5px;
    color: #f39c12;
}

.theme-toggle-container .fa-moon {
    right: 5px;
    color: #3498db;
}

.theme-toggle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

body.light-theme .theme-toggle {
    transform: translateX(-15px);
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

body.dark-theme .theme-toggle {
    transform: translateX(15px);
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Estilos para el saldo */
.saldo-container {
    margin-top: 20px;
    text-align: center;
}

.saldo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.saldo {
    transition: max-height 0.3s, opacity 0.3s;
    max-height: 200px;
    opacity: 1;
    overflow: hidden;
}

.saldo.hidden {
    max-height: 0;
    opacity: 0;
}

/* Estilos para el logo */
header img {
    max-width: 100px;
    transition: filter 0.3s ease; /* Transición suave para el cambio de color */
}

.light-theme header img {
    filter: invert(0); /* Mantener el color original del logo en modo claro */
}

.dark-theme header img {
    filter: invert(0.9) sepia(1) saturate(5) hue-rotate(90deg) brightness(80%) contrast(120%);
}

footer img {
    max-width: 150px;
    transition: filter 0.3s ease; /* Transición suave para el cambio de color */
}

.light-theme footer img {
    filter: invert(0); /* Mantener el color original del logo en modo claro */
}

.dark-theme footer img {
    filter: invert(0.9) sepia(1) saturate(5) hue-rotate(90deg) brightness(80%) contrast(120%);
}

/* Otros estilos generales */

h1 {
    color: #343a40;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.pill-bg {
    background-color: rgba(217, 217, 217, .3);
}

.custom-button {
    background-color: rgba(245, 249, 245, 0.7);
}

body {
    background-color: #f8f9fa;
}

aside {
    height: 100%;
    width: 100%;
    background-image: url('../img/fondo.jpg');
    background-size: cover; 
    background-position: center; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.custom-span {
    background-color: rgba(255, 255, 255, 0.5);
}

.card {
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
}

.card-img-bottom {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #343a40;
}

.card-text {
    color: #343a40;
}

.card-img-top {
    border-radius: 10px 10px 0 0; 
}

.form-group {
    margin-bottom: 10px; 
}

.form-comentario,
.comentarios {
    display: none;
}

.comentario {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.enlarge-button {
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: transparent;
    border: 2px solid #007bff; 
    color: #007bff; 
    display: block;
    margin: 0 auto 20px auto; 
}

#insertPubli {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 20px;
}

.container-fluid {
    padding: 0;
}

footer {
    padding: 20px 0;
}

h2 {
    text-align: center;
}

/* Navbar */
.navbar {
    margin-bottom: 4rem;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro por defecto */
    transition: background-color 0.3s, color 0.3s;
}

.navbar-brand {
    border: 2px solid lightgrey;
    border-radius: 50%;
    background-color: #fff;
}

.nav-link {
    color: #000000; /* Texto negro */
}

.nav-link:hover,
.nav-link:focus {
    color: lightgrey;
}

.dropdown-menu {
    background-color: #ffffff; /* Fondo blanco */
    border: none;
}

.dropdown-item {
    color: #000000; /* Texto negro */
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: lightgrey;
    color: black;
}

body.dark-theme .navbar,
body.dark-theme .dropdown-menu {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
}

body.dark-theme .nav-link,
body.dark-theme .dropdown-item {
    color: #ffffff; /* Texto blanco */
}

.me-5 {
    margin-right: 3rem !important;
}

.btn-floating {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body.light-theme .btn-floating {
    color: #000000; /* Texto negro */
}

body.dark-theme .btn-floating {
    color: #ffffff; /* Texto blanco */
}

.btn-floating:hover,
.btn-floating:focus {
    color: lightgrey;
}

/* Footer */
footer {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme footer {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    color: inherit;
    text-decoration: none;
}

footer ul li a:hover,
footer ul li a:focus {
    text-decoration: underline;
}

footer .social-icons .btn-floating {
    margin: 0 0.5rem;
}
